* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

:root {
    --bgcard-color: #C7D941;
    --font-color: #ffffff;
    --number-color: #000000;
    --bgtype-color: #61E1CA;
    --bg-color: #f0f0f0;
}

body{
    background-color: #3a3a3a;
}

.logo{ 
    width: 100%;
    height: 5rem;
}

.mainSection{
    background-color: #3FB2BF;
}
.characterList {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.character {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color: var(--bgcard-color);
    color: var(--font-color);
    border-radius: 0.5rem;
}

.number {
    color: var(--number-color);
    text-align: right;
    opacity: .3;
    font-size: .625rem;
}

.name {
    color: var(--font-color);
    margin-bottom: 0;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.detail .types .type {
    background-color: var(--bgtype-color);
    color: var(--font-color);
    padding: .25rem .5rem;
    margin: .25rem .0;
    font-size: .625rem;
    border-radius: 2rem;

}

.detail img {
    max-width: 100%;
    height: 70px;
}

@media screen and (min-width: 992px) {
    .mainSection{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 380px){
    .List{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px){
    .List{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .List{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

